/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center; /* Centrar horizontalmente */
    justify-content: flex-start; /* Alinear al inicio */
}

header {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    width: 100%; /* Ancho completo */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 1rem;
    flex: 1;
    width: 100%; /* Ancho completo */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
    text-align: center; /* Centrar texto en secciones */
}

h2, h3 {
    color: #4A90E2;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.project-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    flex: 1 1 calc(50% - 1rem);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.links ul li a {
    text-decoration: none;
    color: #333;
    display: block; /* Hace que el enlace ocupe todo el ancho del elemento de lista */
    padding: 8px 12px; /* Añade un poco de espacio alrededor del texto */
    border-radius: 5px; /* Añade bordes redondeados */
    transition: background-color 0.3s ease; /* Añade una transición suave */
}

.links ul li a:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
    color: #4A90E2;
}

.contact p {
    margin-bottom: 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #4A90E2;
    color: white;
    width: 100%; /* Ancho completo */
}
